<form action="" class="new-election-form" id="new-election-step-2">

	<div class="input-group">
		<span class="input-group-addon">Name</span>
		<input type="text" class="form-control" name="fullName" id="fullName" placeholder="Israel Israeli" autofocus required>
	</div>

	<div class="input-group">
		<span class="input-group-addon">Description</span>
		<textarea rows="4" class="form-control" name="description" id="description" placeholder="Some statment that explane what this contestant is about ..." required ></textarea>
	</div>
	<div class="row row-padding">
		<div class="col-md-12">
			<a class="btn btn-info pull-right" id="add-contestant" >+ Add contestant</a>
		</div>
	</div>
		<div class="well">
			<h5>Contestants List</h5>
			<ul class="tmep-contestants">
				
			</ul>
		</div>
			
</form>