<form role="form" class="new-election-form" id="new-election-step-1">

	<div class="input-group">
		<span class="input-group-addon">Election Name</span>
		<input type="text" class="form-control" name="electionName" minlength="2" id="electionName" placeholder="E.g. Factory CEO" autofocus required>
	</div>

	<div class="input-group">
		<span class="input-group-addon">Description</span>
		<textarea rows="4" class="form-control" name="description" id="description" placeholder="Some statment that explane wht this election is about ..." ></textarea>
	</div>
	<div class="input-group">
		<span class="input-group-addon">Election end at:</span>

		<div id="election-datetimepicker" class="input-append date election-date">
			<input data-format="yyyy-MM-dd hh:mm" type="text" name="endElectionDate" id="endElectionDate" class="form-control election-date"></input>
			<span class="input-group-addon add-on election-date">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
			</span>
		</div>
		<!-- <input type="date" class="form-control" name="endElectionDate" id="endElectionDate" required > -->
	</div>
</form>