
<div class="modal fade" id="deleteElectionModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete Election</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" name="ID" id="hiddenElectionID" value="">
				<h4>
					Are you shure you want to delete election:
					<span class="election-id"></span>
					<span class="election-name"></span>
				</h4>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancell</button>
				<button type="button" class="btn btn-danger" id="delete-election">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
