
<div class="modal fade" id="editElectionModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Election</h4>
			</div>
			<form action="" class="edit-election-form" id="edit-election-form">
				<div class="modal-body">

					<input type="hidden" name="ID" id="hiddenElectionID" value="">
					<div class="input-group">
						<span class="input-group-addon">Election Name</span>
						<input type="text" class="form-control" name="electionName" minlength="2" id="electionName" placeholder="E.g. Factory CEO" autofocus required>
					</div>

					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<textarea rows="4" class="form-control" name="description" id="description" placeholder="Some statment that explane wht this election is about ..." ></textarea>
					</div>
					<div class="input-group">
						<span class="input-group-addon">Election end at:</span>
						<div id="election-datetimepicker" class="input-append date election-date">
							<input data-format="yyyy-MM-dd hh:mm" type="text" name="endElectionDate" id="endElectionDate" class="form-control election-date"></input>
							<span class="input-group-addon add-on election-date">
								<i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
							</span>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary form-send">Save changes</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
