
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Log In</h4>
			</div>
			<form role="form" id="loginForm">
				<div class="modal-body">
					<div class="erorr"></div>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" class="form-control" name="email" placeholder="Email" autofocus required>
					</div>

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-eye"></i></span>
						<input class="form-control" type="password" name="password" id="password" placeholder="Password" >
					</div>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary form-send">Log In</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
