<div class="modal fade" id="deleteUserModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete User</h4>
			</div>
			<div class="modal-body">
				<h4>
					Are you shure you want to delete your account?
				</h4>
				<p>All your elections, contestants and there <br>
					will be gone for ever...</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancell</button>
				<button type="button" class="btn btn-danger" onclick="ElectIt.dashboard.user.delete()">Delete Account</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
