.row-padding{

	padding-top: 10px;
	padding-bottom: 10px;
}
.election-row-btns{

	margin-top: 20px;
}
.img-thumbnail{
	max-height: 70px;
}
.input-group-addon{
	min-width: 126px;
}
.new-election-form{
	margin: 20px 0;
	padding: 20px 0;
	border-top: 2px solid #e3e3e3;
	border-bottom: 2px solid #e3e3e3;
}
.hide{
	display: none;
}
.edit-user-form tr{
	height: 40px;
}
.user-form{
	height: 22px;
	width: 100%;
	padding-left: 5px;
	box-sizing: border-box;
}
.user-form[contenteditable="true"], .user-form:hover{
	border: 1.5px solid #aaa;
	background: white;
}

/* Invitations */
.invite-users-alert{
	height: 70px;
	overflow: hidden;
}
.invite-users-alert:hover{
	height: auto;
}
.invite-users-alert:hover .hover-show{
	display: block;
}
.hover-show{
	display: none;
}
.invitation .input-group-addon{
	min-width: 10px !important;
}