.election-details{
	margin: 20px;
}
.panel-contestants{
	margin-top: 41px; 
}
.panel-contestants .panel-body{
	height: 507px;
	overflow-y:auto; 
}
.panel-users .panel-body{
	height: 507px;
	overflow-y:auto; 
}
.panel-users .panel-body .btn{
	width: 87px;
}
.fileinput-button {
	margin-top: 5px;
	padding: 6px 9px;
}