.input-group{
	padding-bottom: 20px;
}

.row-hover:hover{
	background-color: #DCE5EC;
	border-radius: 10px;
}
#loading{
	position: fixed;
	top: 0%;
	right: 50%;
	z-index: 999;
	height: 50px;
}
.logo{
	position: absolute;
	display: block;
	content: "";
	width: 50px;
	height: 50px;
	background: url(../img/icon.png) no-repeat center center;
	background-size: 50px;
}
.header h3{
	padding: 10px 0 0 60px;
}
a{
	cursor: pointer !important;
}
.jumbotron .row img{
	width: auto;
	height: 200px;
}
.jumbotron a img{
	width: auto;
	height: 80px;
}
.carousel-inner>.item{
	height: 400px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width: auto;
	height: 400px;
	position: absolute;
	right: 60%;
}
.carousel-inner .carousel-caption{
	left: 40%;
	top: -20px;
	bottom: 0;
	height: 100%;
}
.carousel-indicators .active{
	background-color: #aaa;
}
.carousel-indicators li{
	border: 1px solid #4CAD44;
}
#carousel-screenshots{
	margin: 10px 0;
}
#carousel-screenshots i.fa{
	padding: 150px 0;
	font-size: 5em;
}
#carousel-screenshots .bs-callout p{
	color: #000;
	text-align: left;
}
#carousel-screenshots .bs-callout h3{
	color: #b3c833;
}
#carousel-screenshots .bs-callout h4{
	color: #b3c833;
}
/* Contact us form */
.ss-submit{
	display: none !important;
}


/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 0 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/* About */

.about-dev:first-child{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px; 
}
.about-dev{
	border: 1px solid #ddd;
	padding: 10px 15px;

	margin: 0 15px -1px 15px;
	line-height: 40px;
}
.about-dev:last-child{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
}
.about-dev img{
	float: left;
	width: 40px;
	margin-right: 10px;
	border-radius: 4px;
}
.brand-icons a[href="#"]{
	background-color: #ddd;
	cursor: default !important;
}
.brand-icons a[href="#"]:hover{
	background-color: #ddd;
	cursor: default !important;
}
.brand-icons a{
	border-radius: 50%;
	font-size: 25px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	display: inline-block;
	color: white;
	text-align: center;
	background-color: #428bca;
}
.brand-icons a:hover{
	text-decoration: none;
	background-color: #2a6496;

}