
<div class="modal fade" id="aboutModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">About</h4>
			</div>
			<div class="modal-body">

				<div class="row about-dev">
					<div class="col-md-6"> 
						<img src="http://www.gravatar.com/avatar/2664a467f99d352f0ec8d26841160d20.jpg?s=150&d=identicon"  alt=""> Elhay Avichzer
					</div>
					<div class="col-md-6 brand-icons pull-right"> 
						<a target="_blank" href="http://plus.google.com/u/0/+%D7%90%D7%9C%D7%97%D7%99%D7%90%D7%91%D7%99%D7%9B%D7%96%D7%A8"><i class="fa fa-google-plus"></i></a>
						<a target="_blank" href="http://facebook.com/elhayav"><i class="fa fa-facebook"></i></a>
						<a target="_blank" href="http://twitter.com/elhayav"><i class="fa fa-twitter"></i></a>
						<a target="_blank" href="http://www.linkedin.com/pub/%D7%90%D7%9C%D7%97%D7%99-%D7%90%D7%91%D7%99%D7%9B%D7%96%D7%A8/56/605/a30"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				
				<div class="row about-dev">
					<div class="col-md-6"> 
						<img src="http://www.gravatar.com/avatar/796f94be286c9ba23a936aeebc61bf89.jpg?s=150&d=identicon" alt=""> Evgeny Malzev
					</div>
					<div class="col-md-6 brand-icons pull-right"> 
						<a target="_blank" href="http://plus.google.com/108862647299778622133/posts"><i class="fa fa-google-plus"></i></a>
						<a target="_blank" href="http://www.facebook.com/evgeny.malzev"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
