
<div class="modal fade" id="deleteContestantModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete Contestant</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" name="ID" id="hiddenContestantID" value="">
				<input type="hidden" name="ID" id="hiddenelectionID" value="">
				<h4>
					Are you shure you want to delete this Contestant?
					<span class="contestant-id"></span>
					<span class="contestant-name"></span>
				</h4>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancell</button>
				<button type="button" class="btn btn-danger" id="delete-contestant">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
