
<div class="modal fade" id="editContestantModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Edit Contestant</h4>
			</div>
			<form action="" class="edit-contestant-form" id="edit-contestant-form">
				<div class="modal-body">

					<input type="hidden" name="ID" id="hiddenContestantID" value="">
					<div class="input-group">
						<span class="input-group-addon">Name</span>
						<input type="text" class="form-control" name="fullName" minlength="2" id="contestantName" placeholder="E.g. Factory CEO" autofocus required>
					</div>

					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<textarea rows="4" class="form-control" name="description" id="description" placeholder="Some statment that explane wht this contestant is about ..." ></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary form-send">Save changes</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
